*.sqlite3
*.sqlite3-journal
*.pyo
*.pyc
data

# ==========================
# 🔥 Django / Python
# ==========================

# Entorno virtual
.venv/
env/
.env/
venv/

# Base de datos (no subir)
db.sqlite3

# Archivos de configuración sensibles
*.env
*.env.*
!.env.example   # puedes crear uno de ejemplo si quieres

# Archivos compilados Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
dist/
build/

# Media / archivos subidos
uploads/

# Staticfiles colectivos (se generan)
staticfiles/


# ==========================
# 🛠 IDE y editores
# ==========================

# PyCharm / JetBrains
.idea/

# VSCode
.vscode/

# Archivos temporales
*.log
*.pot
*.po~
*.mo
*.tmp
*.swp

# Sistema operativo
.DS_Store
Thumbs.db

# ==========================
# Docker (si usas)
# ==========================
docker-compose.override.yml
*.pid
/log_importacion_fichas.txt
/log_importacion_debug.txt
/log_importacion_fichas_excel.txt
/log_importacion_movimientos_monologo.txt
/log_importacion_pacientes_excel.txt
/paciente_step1_limpio.csv
/paciente_step2_reparado.csv
/pacientes_txt_lineas_malas.csv