{% extends 'index/layout.html' %}

{% block body %}

    <div class="container d-flex justify-content-center align-items-center" style="min-height: 85vh;">

        <div class="card border-0 shadow-lg rounded-4 text-center p-5" style="max-width: 650px; width: 100%;">

            <div class="mb-4">
                <h1 class="display-1 fw-bold text-danger">404</h1>
                <h3 class="fw-semibold mt-3">Acceso denegado</h3>
                <p class="text-muted mt-3">
                    ¿A donde intentas ingresar?, Esta pagina no Existe.
                </p>
            </div>

            <div class="alert alert-light border rounded-3">
                Si crees que esto es un error, contacta al administrador del sistema.
            </div>

            <div class="d-grid gap-3 mt-4">

                {% if user.is_authenticated %}

                    {% if user.is_superuser %}
                        <a href="{% url 'index' %}" class="btn btn-dark btn-lg rounded-3">
                            Volver al panel principal
                        </a>

                    {% else %}
                        <a href="{% url 'index' %}" class="btn btn-dark btn-lg rounded-3">
                            Ir a mi página principal
                        </a>
                    {% endif %}

                {% else %}

                    <a href="{% url 'login' %}" class="btn btn-dark btn-lg rounded-3">
                        Ir al inicio de sesión
                    </a>

                {% endif %}

            </div>

        </div>

    </div>

{% endblock %}